In [1]:
import re
import pandas as pd
import numpy as np
import csv

In [2]:
df = pd.DataFrame()                                                                                     #Without this it gives me an error that df is not defined in index section
df = pd.DataFrame(index = [len(df.values)+1],                                                           #index should count up from 1 to the number of values currently in df
                  columns = ['YEAR', 'SOCIETY', 'NUM_NomSpace_ERROR', 'NUM_SpecSpace_ERROR'])           #I define the column names

df

  YEAR SOCIETY NUM_NomSpace_ERROR NUM_SpecSpace_ERROR
1  NaN     NaN                NaN                 NaN

## Try Outs

In [3]:
#https://sparkbyexamples.com/pandas/pandas-add-row-to-dataframe/
new_row = {'YEAR': '1873', 'SOCIETY': 'GEG', 'NUM_NomSpace_ERROR': 109, 'NUM_SpecSpace_ERROR': 130}         #I want the dictionary to be the outcome of my function
df = df.append(new_row, ignore_index=True) #ignore_index=True)                                                      #I add the row to the existing df outside of the function
df

/tmp/ipykernel_343/1586408101.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True) #ignore_index=True)                                                      #I add the row to the existing df outside of the function

   YEAR SOCIETY NUM_NomSpace_ERROR NUM_SpecSpace_ERROR
0   NaN     NaN                NaN                 NaN
1  1873     GEG                109                 130

In [3]:
#https://www.data-science-architect.de/spalten-zeilen-erstellen-loeschen-und-sortieren-in-pandas/
#index retrieved from: https://medium.com/@petehouston/set-index-for-dataframe-in-pandas-55400e306e42
#index = [x for x in range(0, len(df.values)+1)]

new_row_df = pd.DataFrame({'YEAR': '1874', 'SOCIETY': 'GGuA', 'NUM_NomSpace_ERROR': 109, 'NUM_SpecSpace_ERROR': 130},     #I create a new df to merge with the existing one. 
                                                                                                                          #I still need a dictionary as the outcome of my function
                          index = [len(df.values)+1],                                                                     #Same as in original df
                          columns = ['YEAR', 'SOCIETY', 'NUM_NomSpace_ERROR', 'NUM_SpecSpace_ERROR'])                     #Same as in original df

df = pd.concat([df, new_row_df])                                                                                          #I merge the exisitng df with the new_row df 
df

   YEAR SOCIETY NUM_NomSpace_ERROR NUM_SpecSpace_ERROR
1   NaN     NaN                NaN                 NaN
2  1874    GGuA                109                 130

In [4]:
new_row_df = pd.DataFrame({'YEAR': '1875', 'SOCIETY': 'GGuA', 'NUM_NomSpace_ERROR': 109, 'NUM_SpecSpace_ERROR': 130}, 
                          index = [len(df.values) +1], 
                          columns = ['YEAR', 'SOCIETY', 'NUM_NomSpace_ERROR', 'NUM_SpecSpace_ERROR'])

df = pd.concat([df, new_row_df])

df

   YEAR SOCIETY NUM_NomSpace_ERROR NUM_SpecSpace_ERROR
1   NaN     NaN                NaN                 NaN
2  1874    GGuA                109                 130
3  1875    GGuA                109                 130

In [11]:
year = '1903'
society = 'GEG'
sourcedir = 'Sources/' + society + '/' + year + '_' + society + '_SB.txt'

In [ ]:
new_row_df = pd.DataFrame(add_Space_E_Stats(year, society, sourcedir),                                                                                                          
                          index = [len(df.values)+1],                                                
                          columns = ['YEAR', 'SOCIETY', 'NUM_NomSpace_ERROR', 'NUM_SpecSpace_ERROR'])
df = pd.concat([df, new_row_df])

In [6]:
find_NomSpace_E(year, society, sourcedir, short_mode=True)
find_SpecSpace_E(year, society, sourcedir, short_mode=True)

NameError: name 'year' is not defined

In [8]:
print(ov_md[1][1])

GEG

## Functions

In [3]:
def find_NomSpace_E(year, society, sourcedir, short_mode=True):
    '''
    This function takes the (str)year and (str)society abbreviation as well as a file directory and gives out the number of overall errors in short_mode. 
    In long mode it also shows the erroneus lines that have spaces between letters and double space between words.
    '''
    
    with open(sourcedir, 'r') as fp:                                  #I open the file as read(!)
        file = fp.readlines()                                         #I copy all lines from the file in a list
    
    findings = []                                                     #an empty list where I collect the line numbers of the error findings
    
    for num, line in enumerate(file, 1):                              #I go through each line of the file-list while also counting the lines starting by 1 instead of 0
        if re.match('^\S\s\S\s.*  ', line):                           #I search for the regex marking a none-white space followed by a white space (repeated once to eliminate false positive)at the beginning of the line and two joined spaces at somepoint in the line 
            findings.append(num)                                      #Adding the line number to the list (helps to manually cross check and to count the lines detechted)
            if short_mode:                                            #If the parameter short_mode is True
                continue                                              #I jump directly to giving the numer of overall findings
            else:
                print(str(num) + ' Line: ' + line)                    #Otherwise, I print the erroneus line including line number to manually cross check 
    print(len(findings))                                              #I print out the overall length of the error list

In [4]:
def find_SpecSpace_E(year, society, sourcedir, short_mode=True):
    '''
    This function takes the (str)year and (str)society abbreviation as well as a file directory and gives out the number of overall errors in short_mode. 
    In long mode it also shows the erroneus lines that have only spaces between letters and no double spaces between words.
    '''
    
    with open(sourcedir, 'r') as fp:                                  #I open the file as read(!)
        file = fp.readlines()                                         #I copy all lines from the file in a list
    
    findings = []                                                     #an empty list where I collect the line numbers of the error findings
    
    for num, line in enumerate(file, 1):                              #I go through each line of the file-list while also counting the lines starting by 1 instead of 0
        if re.match('^\S\s\S\s', line):                               #I search for the regex marking a none-white space followed by a white space (repeated once to eliminate false positive) at the beginning of the line
            findings.append(num)                                      #Adding the line number to the list (helps to manually cross check and to count the lines detechted)
            if short_mode:                                            #If the parameter short_mode is True
                continue                                              #I jump directly to giving the numer of overall findings
            else:
                print(str(num) + ' Line: ' + line)                    #Otherwise, in long mode I print the erroneus line including line numbers to manually cross check 
    print(len(findings))                                              #I print out the overall length of the error list

In [5]:
def add_Space_E_Stats(year, society, sourcedir):
    '''
    This function takes the (str)year and (str)society abbreviation as well as a file directory 
    and gives out a dictionary with the year, society, number of normal space errors and number of special errors for the given case. 
    The dictionary can be used to be added to an external DataFrame. 
    '''
    
    with open(sourcedir, 'r') as fp:                                 #I open the file as read(!)
        file = fp.readlines()                                        #I copy all lines form the file in a list
    
    nom_space_findings = []                                          #An empty list to store the normal space errors
    spec_space_findings = []                                         #An empty list to store the special space errors           
    
    for num, line in enumerate(file, 1):                             #I loop through all lines while counting them startin from 1 
        if re.match('^\S\s\S\s.*  ', line):                          #I search for the regex for normal space errors (spaces between letters and double spaces between words)
            nom_space_findings.append(num)                           #I append the line number to the empty list
            
        if  re.match('^\S\s\S\s', line):                             #I search for the regex for special space errors (spaces between letters and no double spaces between words)
            spec_space_findings.append(num)                          #I append the line number to an empty list 
    
    return {'YEAR': year, 'SOCIETY': society, 'NUM_NomSpace_ERROR': len(nom_space_findings), 'NUM_SpecSpace_ERROR': len(spec_space_findings)}            #I return a dictionary with the length of the created lists as the values for the Error-keys

In [7]:
ov_md = []

with open("Sources/GEG/GEGDirectory.txt", "r") as fp:
    ov_files = fp.readlines()
    
    
    for line in ov_files:
        md = line.split('_')
        ov_md.append(md)
    print(ov_md)

[['1873', 'GEG', 'SB.txt\n'], ['1874', 'GEG', 'SB.txt\n'], ['1875', 'GEG', 'SB.txt\n'], ['1876', 'GEG', 'SB.txt\n'], ['1877', 'GEG', 'SB.txt\n'], ['1878', 'GEG', 'SB.txt\n'], ['1879', 'GEG', 'SB.txt\n'], ['1880', 'GEG', 'SB.txt\n'], ['1881', 'GEG', 'SB.txt\n'], ['1882', 'GEG', 'SB.txt\n'], ['1883', 'GEG', 'SB.txt\n'], ['1884', 'GEG', 'SB.txt\n'], ['1885', 'GEG', 'SB.txt\n'], ['1886', 'GEG', 'SB.txt\n'], ['1887', 'GEG', 'SB.txt\n'], ['1888', 'GEG', 'SB.txt\n'], ['1889', 'GEG', 'SB.txt\n'], ['1890', 'GEG', 'SB.txt\n'], ['1891', 'GEG', 'SB.txt\n'], ['1892', 'GEG', 'SB.txt\n'], ['1893', 'GEG', 'SB.txt\n'], ['1894', 'GEG', 'SB.txt\n'], ['1895', 'GEG', 'SB.txt\n'], ['1896', 'GEG', 'SB.txt\n'], ['1897', 'GEG', 'SB.txt\n'], ['1898', 'GEG', 'SB.txt\n'], ['1899', 'GEG', 'SB.txt\n'], ['1900', 'GEG', 'SB.txt\n'], ['1901', 'GEG', 'SB.txt\n'], ['1902', 'GEG', 'SB.txt\n'], ['1903', 'GEG', 'SB.txt\n'], ['1904', 'GEG', 'SB.txt\n'], ['1905', 'GEG', 'SB.txt\n'], ['1906', 'GEG', 'SB.txt\n'], ['1907', 'GEG', 'SB.txt\n'], ['1908', 'GEG', 'SB.txt\n'], ['1909', 'GEG', 'SB.txt\n'], ['1910', 'GEG', 'SB.txt\n'], ['1911', 'GEG', 'SB.txt\n'], ['1912-1922', 'GEG', 'SB.txt\n']]

In [9]:
i = 0
for e in ov_md:
    year = ov_md[i][0]
    society = ov_md[i][1]
    sourcedir = 'Sources/' + society + '/' + year + '_' + society + '_SB.txt'
    
    new_row_df = pd.DataFrame(add_Space_E_Stats(year, society, sourcedir),                                                                                                          
                          index = [len(df.values)+1],                                                
                          columns = ['YEAR', 'SOCIETY', 'NUM_NomSpace_ERROR', 'NUM_SpecSpace_ERROR'])
    df = pd.concat([df, new_row_df])
    i += 1
    
df.drop([1])    
df

         YEAR SOCIETY NUM_NomSpace_ERROR NUM_SpecSpace_ERROR
1         NaN     NaN                NaN                 NaN
2        1873     GEG                169                 180
3        1874     GEG                 29                  50
4        1875     GEG                139                 154
5        1876     GEG                 66                  77
6        1877     GEG                 99                 115
7        1878     GEG                386                 407
8        1879     GEG                222                 282
9        1880     GEG                233                 271
10       1881     GEG                326                 382
11       1882     GEG                415                 479
12       1883     GEG                222                 259
13       1884     GEG                396                 455
14       1885     GEG                208                 241
15       1886     GEG                325                 371
16       1887     GEG                200                 227
17       1888     GEG                370                 414
18       1889     GEG                215                 247
19       1890     GEG                145                 157
20       1891     GEG                201                 225
21       1892     GEG                180                 209
22       1893     GEG                202                 222
23       1894     GEG                222                 245
24       1895     GEG                190                 209
25       1896     GEG                243                 291
26       1897     GEG                165                 180
27       1898     GEG                132                 153
28       1899     GEG                142                 175
29       1900     GEG                151                 172
30       1901     GEG                260                 278
31       1902     GEG                  1                  56
32       1903     GEG                  0                  66
33       1904     GEG                138                 142
34       1905     GEG                139                 144
35       1906     GEG                 83                  96
36       1907     GEG                745                 784
37       1908     GEG                228                 259
38       1909     GEG                272                 293
39       1910     GEG                219                 274
40       1911     GEG                151                 156
41  1912-1922     GEG                518                 567